[submodule "source/themes/ananke"]
	path = source/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "source/themes/cactus"]
	path = source/themes/cactus
	url = https://github.com/nodejh/hugo-theme-cactus-plus.git
[submodule "source/themes/liquorice"]
	path = source/themes/liquorice
	url = git@github.com:eliasson/liquorice.git
[submodule "source/themes/tranquilpeak"]
	path = source/themes/tranquilpeak
	url = git@github.com:kakawait/hugo-tranquilpeak-theme.git
[submodule "source/themes/bleak"]
	path = source/themes/bleak
	url = git@github.com:Zenithar/hugo-theme-bleak.git
[submodule "source/themes/hello"]
	path = source/themes/hello
	url = git@github.com:lubang/hugo-hello-programmer-theme.git
[submodule "source/themes/huho"]
	path = source/themes/huho
	url = git@github.com:jansanchez/hugo-hello-programmer-theme.git
